Exercice5_2/data/Dossier_a_explorer/XML/pays.dtd

<!-- pays -->
<!ELEMENT pays (pays_obj)>
    <!ELEMENT pays_obj (nom_pays,superficie,nb_habitants,drapeau?)>
        <!ATTLIST pays pays_id ID #REQUIRED>
        <!ATTLIST pays devise_id IDREF #IMPLIED>
        <!ELEMENT nom_pays (#PCDATA)>
        <!ELEMENT superficie (#PCDATA)>
        <!ELEMENT nb_habitants (#PCDATA)>
        <!ELEMENT drapeau (#PCDATA)>
